---
import Layout from "../layouts/Layout.astro";
---
<Layout title="index">
    <article slot='content' class='mr-16 my-8 sm:mt-8 h-screen rounded-md max-h-screen max-w-auto bg-red-600'>
        <h1 class="text-center text-7xl p-4 tracking-widest underline antialiased">Titulo</h1>

    </article>
</Layout>