---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Contacto">
    <div slot="content" class="mx-16 sm:mt-16 max-w-auto dark:[#040804]">
        <form method="post" action="/Contacto" class="p-2 border-2 border-transparent rounded-lg mt-16 max-w-screen mx-auto">
            <div class="grid grid-cols-2 gap-2">
                
                <label class="flex items-center justify-center h-28 rounded border-2 border-black shadow-xl bg-[#003e74] dark:bg-[#e0dddd]">
                    <input type="text" class="text-center rounded shadow-md bg-white mr-3 sm:mr-5 focus:outline-none border-2 border-black w-2/5" placeholder="Nombre" name="Nombre"/>
                </label>
                    
                <label class="flex items-center justify-center h-28 rounded border-2 border-black shadow-xl bg-[#ecbd4f] dark:bg-[#ecbd4f]">
                    <input type="text" class="text-center w-2/5 h-1/3 rounded shadow-md bg-white ml-2 focus:outline-none border-2 border-black" name="mail" placeholder="Correo"/>
                </label>
                
                <label class="flex items-center justify-center h-28 rounded border-2 border-black shadow-xl bg-[#da4126] dark:bg-[#da4126]">
                    <input type="text" class="text-center w-2/5 rounded shadow-md bg-white ml-2 focus:outline-none border-2 border-black" name="Telefono" placeholder="Telefono"/>
                </label>
                
                <label class="flex items-center justify-center h-28 rounded border-2 shadow-xl border-black bg-[#003e74] dark:bg-[#e0dddd]">
                    <select class="w-2/5 block justify-center rounded shadow-md bg-[#e0dddd] ml-2 focus:outline-none border-2 border-black" name="Disponibilidad" >
                        <option>Disponibilidad</option>
                        <option></option>
                    </select>
                </label>
                
                <div class="flex items-center justify-center col-span-2 h-50 rounded border-2 border-black shadow-xl bg-[#ecbd4f] dark:bg-[#003e74] overflow-x-hidden">
                    <label class="relative items-baseline justify-center col-span-2 rounded bg-[#ecbd4f] dark:bg-[#003e74] text-black">
                        <p class="font-bold text-lg flex justify-center text-black">Mensaje:  </p></br>
                        <textarea class="max-w-screen overflow-hidden relative justify-end rounded-sm shadow-lg dark:shadow-md m-px dark:shadow-black border-2 min-w-fit border-black focus:outline-none h-40 w-80 xl:w-96 resize-none text-black"></textarea>
                    </label>
                </div>
  
                <button type="submit" class="font-bold flex items-center justify-center h-20 col-span-2 rounded border-2 shadow-xl border-black bg-[#003e74] dark:bg-[#da4126]">
                    Enviar formulario
                </button>
            </div>    
        </form>
    </div>
</Layout>