---
import Layout from '../layouts/Layout.astro'
import 'photoswipe/style.css'
export const prerendeer = false
---

<Layout title='Galeria'>
  <div
    slot='content'
    class='grid lg:grid-cols-4 grid-cols-2 gap-4 mx-8 lg:mt-24 sm:mt-16 md:mt-32 mt-32 2xl:mt-20 2xl:mr-16 mb-4 max-w-screen h-auto dark:bg-[#18191d] relative'
    id='galeria'
  >
    {
      Array.from({ length: 12 }).map((_, i) => (
        <a
          href={`./public/galeria/img-${i + 1}.jpg`}
          data-pswp-width='1280'
          data-pswp-height='720'
          target='_blank'
        >
          <img
            src={`./public/galeria/img-${i + 1}.jpg`}
            class='rounded-md'
            alt='Imagen de demostración'
          />
        </a>
      ))
    }
  </div>
</Layout>
<script>
  import PhotoSwipeLightbox from 'photoswipe/lightbox'
  document.addEventListener('astro:after-swap', () => {
    const lightbox = new PhotoSwipeLightbox({
      gallery: '#galeria',
      children: 'a',
      showHideAnimationType: 'zoom',
      pswpModule: () => import('photoswipe')
    })
    lightbox.init()
  })
  const lightbox = new PhotoSwipeLightbox({
    gallery: '#galeria',
    children: 'a',
    showHideAnimationType: 'zoom',
    pswpModule: () => import('photoswipe')
  })
  lightbox.init()
</script>
