---
import Layout from '../layouts/Layout.astro'
---

<Layout title='index'>
  <article slot='content' class='mx-16 mt-32 sm:mt-16 my-8 max-w-auto dark:bg-black'>
    <div class='grid grid-cols-3 mb-4 gap-2 h-32'>
      <div class='flex items-center justify-center h-full rounded bg-red-600 dark:bg-red-600 duration-300 hover:scale-90'>
        <p class='text-2xl'>Contenido</p>
      </div>
      <div class='flex items-center justify-center h-full rounded bg-black dark:bg-white duration-300 hover:scale-90'>
        <p class='text-2xl'>Contenido</p>
      </div>
      <div class='flex items-center justify-center h-full rounded bg-yellow-300 dark:bg-yellow-300 duration-300 hover:scale-90'>
        <p class='text-2xl'>Contenido</p>
      </div>
    </div>
    <div class='flex items-center justify-center h-40 mb-4 rounded bg-blue-700 dark:bg-blue-700 duration-300 hover:scale-90'>
      <p class='text-2xl'>Contenido</p>
    </div>
    <div class='grid grid-cols-2 gap-4'>
      <div class='flex items-center justify-center rounded bg-black h-30 dark:bg-white duration-300 hover:scale-90'>
        <p class='text-2xl'>Contenido</p>
      </div>
      <div class='flex items-center justify-center rounded bg-red-600 h-28 dark:bg-red-600 duration-300 hover:scale-90'>
        <p class='text-2xl'>Contenido</p>
      </div>
      <div class='flex items-center justify-center rounded hover:scale-90 bg-yellow-300 h-38 duration-300 dark:bg-yellow-300'>
        <p class='text-2xl'>Contenido</p>
      </div>
      <div class='flex items-center justify-center rounded hover:scale-90 bg-black h-28 duration-300 dark:bg-white'>
        <p class='text-2xl'>Contenido</p>
      </div>
    </div>
  </article>
</Layout>

<style is:global>
  article {
    margin: auto;
    @apply dark:bg-black;
    background-color: white;
    @apply rounded-lg;
    margin-top: 32px;
    margin-right: 32px;
    @apply max-h-screen;
    @apply flex-grow;
  }
</style>