---
import Layout from '../layouts/Layout.astro'
import BentoItem from '../components/BentoItem.astro';
---

<Layout title='index'>
  <article
    slot='content'
    class='mx-16 mt-32 sm:mt-16 my-8 max-w-auto bg-[#e0dddd] dark:bg-[#040804]'
  >
    <div class='grid grid-cols-3 mb-4 gap-2 h-32'>
      <BentoItem enlace="/Contenido1" estilo="flex items-center justify-center h-full rounded bg-[#a6311d] duration-700 group relative hover:scale-90" titulo="Contenido1" contenido="Hola mundo"></BentoItem>
      <BentoItem enlace="/Contenido2" estilo="flex items-center justify-center h-full rounded bg-[#030601] dark:bg-[#e0dddd] duration-700 group relative hover:scale-90" titulo="Contenido2" contenido="Hola mundo"></BentoItem>
      <BentoItem enlace="/Contenido3" estilo="flex items-center justify-center h-full rounded bg-[#ecbd4f] duration-700 group relative hover:scale-90" titulo="Contenido3" contenido="Hola mundo"></BentoItem>
    </div>
      <BentoItem enlace="/Galeria" estilo="flex items-center h-40 justify-center mb-4 rounded bg-[#003e74] duration-700 group relative hover:scale-90" titulo="Galeria" contenido="Hola mundo"></BentoItem>
    <div class='grid grid-cols-2 gap-4'>
      <BentoItem enlace="/Informacion" estilo="flex items-center justify-center h-28 rounded bg-[#040804] dark:bg-[#e0dddd] duration-700 group relative hover:scale-90" titulo="Informacion" contenido="Hola mundo"></BentoItem>
      <BentoItem enlace="/Contacto" estilo="flex items-center justify-center h-28 rounded bg-[#a6311d] duration-700 group relative hover:scale-90" titulo="Contacto" contenido="Hola mundo"></BentoItem>
      <BentoItem enlace="/QuienesSomos" estilo="flex items-center justify-center h-28 rounded bg-[#ecbd4f] duration-700 group relative hover:scale-90" titulo="Quienes somos" contenido="Hola mundo"></BentoItem>
      <BentoItem enlace="/" estilo="flex items-center justify-center h-28 rounded bg-[#040804] dark:bg-[#e0dddd] duration-700 group relative hover:scale-90" titulo="???" contenido="Hola mundo"></BentoItem>
    </div>
  </article>
</Layout>

<style is:global>
  article {
    margin: auto;
    @apply dark:bg-black;
    background-color: #e0dddd;
    @apply rounded-lg;
    margin-top: 32px;
    margin-right: 32px;
    @apply max-h-screen;
    @apply flex-grow;
  }
</style>
