---
interface Props {
  placeholder: string
  path: string
  url: string
}
var { path } = Astro.props
const { url } = Astro.props
const { placeholder } = Astro.props
---

<a
  href={url}
  class='flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-[#e0dddd] dark:hover:text-black dark:bg-[#18191d] group shadow-sm border-2 border-black dark:shadow-white dark:hover:shadow-black dark:border-white shadow-black'
  id='Boton'
>
  <img src={path} alt='Icono' />
  <span class='flex-1 ml-3 whitespace-nowrap'>{placeholder}</span>
</a>
