---
import Button from './Button.astro'
---

<aside
  id='logo-sidebar'
  class='fixed top-0 left-0 z-40 w-60 h-screen pt-20 transition-transform -translate-x-full border-r sm:translate-x-0 dark:text-white'
  aria-label='Sidebar'
  transition:persist
>
  <div
    class='h-full px-2 overflow-y-auto bg-slate-white border-r-2 border-black dark:bg-[#040804] py-6 dark:border-white dark:border-2'
  >
    <ul class='space-y-4 font-medium mt-4'>
      <li>
        <Button path='/Inicio.svg' url='/' placeholder='Inicio' />
      </li>
      <li>
        <Button
          path='/Informacion.svg'
          url='/Informacion'
          placeholder='Informacion'
        />
      </li>
      <li>
        <Button path='/Galeria.svg' url='/Galeria' placeholder='Galeria' />
      </li>
      <li>
        <Button
          path='/QuienesSomos.svg'
          url='/QuienesSomos'
          placeholder='Quienes Somos'
        />
      </li>
      <li>
        <Button placeholder='Contacto' url='/Contacto' path='Contacto.svg' />
      </li>
    </ul>

    <footer class='absolute bottom-0'>
      <p>Nombre de la empresa y otras cosas</p>
    </footer>
  </div>
</aside>
