---
import Header from '../components/Header.astro'
import Sidebar from '../components/Sidebar.astro'
import { ViewTransitions } from 'astro:transitions'

interface Props {
  title: string
}
const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body class='h-screen w-screen'>
    <div class='[grid-area:Header]'>
      <Header />
    </div>
    <div id='sidebar' class='[grid-area:Sidebar]'>
      <Sidebar />
    </div>
    <div id='slot' class='[grid-area:Slot]'>
      <slot name='content' />
    </div>
    <style is:global>
      html {
        font-family: monospace, system-ui;
        background: #e0dddd;
        @apply dark:bg-[#18191d];
        overflow-x: hidden;
      }
      body {
        display: grid;
        grid-template-areas:
          'Header Header'
          'Sidebar Slot'
          'Sidebar Slot';
        grid-template-columns: 0.15fr 0.85fr;
        grid-template-rows: 0.1fr 0.5fr;
      }
      body::-webkit-scrollbar {
        display: none;
      }
      @media (width<1480px) {
        #sidebar {
          display: none;
        }
        body{
          grid-template-areas: 
          'Header'
          'Slot'
          ;
          grid-template-columns: 1fr;
          grid-template-rows: 0.2fr 1fr;
        }
      }
      @media(height<710){
        #slot{
          margin-top: 32px;
        }
      }

    </style>
  </body>
</html>
