---
import Header from '../components/Header.astro'
import Sidebar from '../components/Sidebar.astro'

interface Props {
  title: string
}
const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>{title}</title>
  </head>
  <body class='h-screen w-screen'>
    <div class='[grid-area:Header] row-span-2'>
      <Header />
    </div>
    <div class='[grid-area:Sidebar]'>
      <Sidebar />
    </div>
    <div class="[grid-area:Slot]">
      <slot name='content' />
    </div>
  </body>
  <style is:global>
    html {
      font-family: monospace, system-ui;
      background: white;
      @apply dark:bg-black;
      overflow-x: hidden;
    }
    body {
      display: grid;
      grid-template-areas:
        'Header Header'
        'Sidebar Slot'
        'Sidebar Slot';
      grid-template-columns: 1fr; /* Cambié a una sola columna para móviles */
      grid-template-rows: auto; /* Ajustado a alturas automáticas */
    }
    body::-webkit-scrollbar {
    display: none;
    }
    /* Añadí una regla de medios para tamaños de pantalla más pequeños */
    @media screen and (min-width: 800px) {
      body {
        grid-template-columns: 0.4fr 2fr;
        grid-template-rows: 0.25fr 2fr;
      }
    }
  </style>
</html>